/* Define custom properties for the colors */
:root {
  --slider-color-t0: red;
  --slider-color-t1: blue;
  --slider-color-t2: green;
  --slider-color-t3: yellow;
  --slider-color-t4: purple;
}

/* General slider styles */
input[type="range"] {
  -webkit-appearance: none;
  width: 300px;
  height: 8px;
  background: #ddd;
  outline: none;
  opacity: 0.7;
  transition: opacity .2s;
}

input[type="range"]:hover {
  opacity: 1;
}

/* Webkit browsers */
input[id*="t0-slider"]::-webkit-slider-thumb,
input[id*="t0Bezier-slider"]::-webkit-slider-thumb,
input[id*="t0Poly-slider"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: var(--slider-color-t0);
  cursor: pointer;
  border-radius: 50%;
}

input[id*="t1-slider"]::-webkit-slider-thumb,
input[id*="t1Bezier-slider"]::-webkit-slider-thumb,
input[id*="t1Poly-slider"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: var(--slider-color-t1);
  cursor: pointer;
  border-radius: 50%;
}

input[id*="t2-slider"]::-webkit-slider-thumb,
input[id*="t2Bezier-slider"]::-webkit-slider-thumb,
input[id*="t2Poly-slider"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: var(--slider-color-t2);
  cursor: pointer;
  border-radius: 50%;
}

input[id*="t3Bezier-slider"]::-webkit-slider-thumb,
input[id*="t3Poly-slider"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: var(--slider-color-t3);
  cursor: pointer;
  border-radius: 50%;
}

input[id*="t4Bezier-slider"]::-webkit-slider-thumb,
input[id*="t4Poly-slider"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: var(--slider-color-t4);
  cursor: pointer;
  border-radius: 50%;
}

/* Mozilla browsers */
input[id*="t0-slider"]::-webkit-slider-thumb,
input[id*="t0Bezier-slider"]::-moz-range-thumb,
input[id*="t0Poly-slider"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: var(--slider-color-t0);
  cursor: pointer;
  border-radius: 50%;
}

input[id*="t1-slider"]::-webkit-slider-thumb,
input[id*="t1Bezier-slider"]::-moz-range-thumb,
input[id*="t1Poly-slider"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: var(--slider-color-t1);
  cursor: pointer;
  border-radius: 50%;
}

input[id*="t2-slider"]::-webkit-slider-thumb,
input[id*="t2Bezier-slider"]::-moz-range-thumb,
input[id*="t2Poly-slider"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: var(--slider-color-t2);
  cursor: pointer;
  border-radius: 50%;
}

input[id*="t3Bezier-slider"]::-moz-range-thumb,
input[id*="t3Poly-slider"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: var(--slider-color-t3);
  cursor: pointer;
  border-radius: 50%;
}

input[id*="t4Bezier-slider"]::-moz-range-thumb,
input[id*="t4Poly-slider"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: var(--slider-color-t4);
  cursor: pointer;
  border-radius: 50%;
}

/* Microsoft browsers */
input[id*="t0-slider"]::-webkit-slider-thumb,
input[id*="t0Bezier-slider"]::-ms-thumb,
input[id*="t0Poly-slider"]::-ms-thumb {
  width: 20px;
  height: 20px;
  background: var(--slider-color-t0);
  cursor: pointer;
  border-radius: 50%;
}

input[id*="t1-slider"]::-webkit-slider-thumb,
input[id*="t1Bezier-slider"]::-ms-thumb,
input[id*="t1Poly-slider"]::-ms-thumb {
  width: 20px;
  height: 20px;
  background: var(--slider-color-t1);
  cursor: pointer;
  border-radius: 50%;
}

input[id*="t2-slider"]::-webkit-slider-thumb,
input[id*="t2Bezier-slider"]::-ms-thumb,
input[id*="t2Poly-slider"]::-ms-thumb {
  width: 20px;
  height: 20px;
  background: var(--slider-color-t2);
  cursor: pointer;
  border-radius: 50%;
}

input[id*="t3Bezier-slider"]::-ms-thumb,
input[id*="t3Poly-slider"]::-ms-thumb {
  width: 20px;
  height: 20px;
  background: var(--slider-color-t3);
  cursor: pointer;
  border-radius: 50%;
}

input[id*="t4Bezier-slider"]::-ms-thumb,
input[id*="t4Poly-slider"]::-ms-thumb {
  width: 20px;
  height: 20px;
  background: var(--slider-color-t4);
  cursor: pointer;
  border-radius: 50%;
}

/* Disabled button styles */
button:disabled {
  background-color: grey;
  cursor: not-allowed;
  box-shadow: none;
}